.showcase {
    overflow: auto;
}

.showcase .product {
    padding: 2px;
    border: solid 1px;
    float: left;
    width: 256px;
    margin: 18px 0px 18px 18px;
}

.showcase .product p {
    height: 55px;
}

.showcase .product img {
    background-color: white;
    width: 250px;
}

.showcase .product button {
    width: 100%;
}
